* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s ease-in-out;
}

a:hover {
    color: #ff2f00;
}

li {
    padding: 5px;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px 5px;
}

ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main  {
    display: flex;
    align-items: center;
    width: 30%;
    min-height: 100vh;
    margin : auto;
}

body {
    background: linear-gradient(#81813c, #8585da,#81813c);
}