@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');


* {
    padding: 0;
    margin: 0;
}

.side-bar {
    width: 300px;
    min-height: 95vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    border-radius: 0 10px 10px 0;
    border: solid #bcb6b6 1px;
    background-color: #ddd7d7;
}

.link img {
    width: 24px;
}


.link  {
    display: flex;
    padding: 15px;
}

.container {
    width: 1000px;
    min-height: 60vh;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 17px;
    border: solid #bcb6b6 1px;
}

.sticks_1 , .sticks_2, .sticks_3 , .sticks_4 {
    width: 325px;
    height: 300px;
    background-color: #9f75ff;
}

.sticky-wall {
    position: absolute;
    left: 22%;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.menu {
    font-size: 25px;
    padding: 20px;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.menu-icon {
    display: inline-block;
    position: absolute;
    left: 250px;
}

.menu-name {
    display: inline-block;
    margin-right: 10px;
}

.sticks_1 {
    background-color: rgb(230, 144, 144);
}

.sticks_2 {
    background-color: rgb(180, 236, 187);
}

.sticks_3 {
    background-color: rgb(143, 163, 223);
}

.sticks_4 {
    background-color: rgb(246, 240, 157);
}