@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');


* {
    padding: 0;
    margin: 0;
}

.side-bar {
    width: 300px;
    min-height: 95vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    border-radius: 0 10px 10px 0;
    border: solid #bcb6b6 1px;
    background-color: #ddd7d7;
}

.link img {
    width: 24px;
}

.link a {
    text-decoration: none;
    color: #000000;
}

.link{
    display: flex;
    padding: 10px;
    text-decoration: none;
    border: 2px solid #000000;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #78774f;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    padding: 17px;
}

.main-content {
    float: right;
    width: 70%;
    min-height: 70vh;
}

.sticks_1 , .sticks_2, .sticks_3 , .sticks_4 {
    width: 350px;
    min-height: 350px;
    background-color: #9f75ff;
    border-radius: 10px;
}

.sticky-wall {

    font-size: 25px;

    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.menu {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.sticks_1 {
    background-color: rgb(230, 144, 144);
}

.sticks_2 {
    background-color: rgb(180, 236, 187);
}

.sticks_3 {
    background-color: rgb(143, 163, 223);
}

.sticks_4 {
    background-color: rgb(246, 240, 157);
}

.stick-div {
    padding: 40px;
}